<fieldset class="appFieldsets">
  <ul class="list-group">
    <li><button class="list-group-item appList" (click)="getFilm('Avatar', 'avatar')">Avatar</button></li>
    <li><button class="list-group-item appList" (click)="getFilm('Star Wars', 'starwars')">Star Wars</button></li>
    <li><button class="list-group-item appList" (click)="getFilm('Mission Impossible','missionimpossible')">Mission Impossible</button></li>
    <li><button class="list-group-item appList" (click)="getFilm('Barbie', 'barbie')">Barbie</button></li>
    <li><button class="list-group-item appList" (click)="getFilm('Les Tuche','lestuches')">Les Tuche</button></li>
  </ul>

  <h1>{{title}}</h1>
  <img [ngClass]=imgClass [src]="imgPath" alt="ok">
</fieldset>

