<form [formGroup]="profilForm" (ngSubmit)="onSubmit()" >
  <label for="nom">Nom: </label>
  <input id="nom" type="text" formControlName="nom"><br>
  <label for="prenom">Prénom: </label>
  <input id="prenom" type="text" formControlName="prenom"><br>
    <label for="age">Age: </label>
  <input id="age" type="text" formControlName="age"><br>
 <input type="checkbox" name="item" value="new" (change)="onChange()" />Ne pas ajouter d'e-mail <br />
  <div *ngIf="isChecked">
    <label for="email">E-mail: </label>
    <input id="email" type="text" formControlName="email"><br>
  </div>
  <label for="commentaire">Commentaire: </label>
  <textarea id="commentaire" type="text" formControlName="commentaire"></textarea><br>

  <button type="submit" [disabled]="profilForm.invalid" >Envoyer</button>
</form>

